block footer
        footer.footer 
            .container 
                .row
                    .col-xl-4.col-md-3.col-6.order-1
                        .footer__social
                            .footer__logo
                                a.logo(href="#") 
                                    img(src="image/logo.svg", alt="logo")
                                    span CutSpace
                            .footer__info
                                p Quae fuerit causa, nollem me ab illo inventore veritatis et.
                            .footer__link 
                                ul 
                                    li  
                                        a(href="#").footer__facebook 
                                            i.fa-brands.fa-square-facebook
                                    li  
                                        a(href="#").footer__twitter 
                                            i.fa-brands.fa-twitter
                                    li  
                                        a(href="#").footer__youtube 
                                            i.fa-brands.fa-youtube
                                    li  
                                        a(href="#").footer__in
                                            i.fa-brands.fa-linkedin-in
                    .col-xl-2.col-md-3.offset-0.offset-xl-1.col-6.order-3.order-md-2
                        .footer__privacy 
                            .footer__title 
                                h2.title.title-smaller Privacy
                            .footer__desc
                                ul 
                                    li 
                                        a.desc.desc-larger(href="#")  Si sine causa
                                    li 
                                        a.desc.desc-larger(href="#")  Quae fuerit causa
                                    li 
                                        a.desc.desc-larger(href="#")  Certe, inquam
                                    li 
                                        a.desc.desc-larger(href="#")  Torquatos nostros? 
                    .col-xl-2.col-md-3.col-6.order-4.order-md-3
                        .footer__privacy 
                            .footer__title 
                                h2.title.title-smaller Legal
                            .footer__desc
                                ul 
                                    li 
                                        a.desc.desc-larger(href="#")  Ut placet, inquam 
                                    li 
                                        a.desc.desc-larger(href="#")  Certe, inquam
                                    li 
                                        a.desc.desc-larger(href="#")  Et quidem rerum
                                    li 
                                        a.desc.desc-larger(href="#")  At vero eos et
                    .col-xl-2.col-md-3.col-6.order-2.order-md-4
                        .footer__privacy 
                            .footer__title 
                                h2.title.title-smaller Contact
                            .footer__desc
                                ul 
                                    li 
                                        a.desc.desc-larger(href="#")  Primum igitur
                                    li 
                                        a.desc.desc-larger(href="#")  Certe, inquam
                                    li 
                                        a.desc.desc-larger(href="#")  Quae fuerit causa