block header
    header.header
        .container
            .row
                .col-6.col-md-4.col-lg-5
                    .header__logo
                        a.logo(href="#") 
                            img(src="image/logo.svg", alt="logo")
                            span CutSpace
                .col-md-8.col-lg-7.d-none.d-md-block
                    .header__menu
                        ul.menu
                            li
                                a.menu-active(href="#") Home
                            li
                                a(href="#") About us
                            li
                                a(href="#") Find space
                            li
                                a(href="#") Share space
                            li
                                a(href="#") Promote space
                .col-6.d-md-none
                    .header__mbtn
                        a(href="#") 
                            i.bi.bi-list